button:hover
{
    cursor:grab;
    outline:2px dotted red;
}

.Toolbar {
 float:left;
 width:20%;
 font-size: 15px;
	text-align: center;
 background: #f4f7ad;
 border: 1px solid #7b449b;
}

.Selected {
    /*color: pink;
	background-color:green;*/
   border: 2px solid #abcdef;
}
#canvas
{
    float:right;
	border: 1px solid black;
    margin: 10px 0 10px 0;
    cursor: pointer;
}
button
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 0px;
}
.Operations{
   border-radius: 5%;
   width: 100px;
   height: 50px;
}
#savedCopyContainer {
    display: none;
	border: 1px solid black;
}

#savedCopyContainer img {
     
    width: 250px;
    height: 150px;
}
#black 
{
    background: black;
}
#orange 
{
    background: white;
}
#pink 
{
    background: pink;
}
#red
{
    background: red;
}
#cyan
{
    background: cyan;
}
#yellow
{
    background: yellow;
}
#magenta
{
    background: magenta;
}
#green 
{ 
    background: green;
}
#blue 
{
    background: blue;
}
#orange 
{
    background: orange;
}